body {
  background-color: #f0f0f0; /* 페이지의 나머지 배경색 */
}


.App {
  text-align: center;
}

.responsive-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* 배경 색상 */
  color: #333; /* 글자 색상 */
  margin: auto; /* 중앙 정렬 */
}

/* 화면 너비가 600px 이상일 때 */
@media (min-width: 600px) {
  .responsive-square {
    width: 375px; /* 핸드폰 크기 정도의 너비 */
    height: 667px; /* 핸드폰 크기 정도의 높이 */
  }
}

/* 화면 너비가 600px 미만일 때 */
@media (max-width: 599px) {
  .responsive-square {
    width: 100%; /* 전체 너비 */
    height: 100vh; /* 전체 화면 높이 */
  }
}