.Div-h {
    display: flex;
    max-width: 153px;
    flex-direction: column;
    margin-left: 10px;

    /*
    왼쪽 정렬
    */
    text-align: left;
    align-items: flex-start;
  }
  
  .Div2-h {
    border-radius: 8px;
    border-color: rgba(217, 217, 217, 1);
    border-style: solid;
    border-width: 1px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }
  
  .Img-h, .Img2 {
    object-fit: auto;
    object-position: center;
  }
  
  .Img-h {
    aspect-ratio: 1;
    width: 100%;
  }
  
  .Img2-h {
    aspect-ratio: 2.63;
    width: 50px;
  }
  
  .Div3-h {
    color: #3e3e3e;
    margin-top: 9px;
    width: 100%;
    font: 400 14px/150% AppleSDGothicNeoB00, -apple-system, Roboto, Helvetica, sans-serif;
    background-color: #FFFFFF;
    align-items: flex-start;
    /*텍스트 왼쪽으로 정렬*/
      text-align: left;
      
  
  }
  
  .Div4-h {
    display: flex;
    margin-top: 12px;
    gap: 4px;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    line-height: 150%;
  }
  
  .Div5-h {
    color: #b5b5b5;
    text-decoration-line: line-through; /* Adjusted property name */
    flex-grow: 1;
    text-align: left;

  }
  
  .Div6-h {
    color: #FF77CA;
    flex-grow: 1;
    flex-basis: auto;
  }
  
  .Div7-h {
    display: flex;
    margin-top: 4px;
    align-items: start;
    gap: 3px;
    font-size: 16px;
    color: #3e3e3e;
    font-weight: 400;
    white-space: nowrap;
    line-height: 150%;
  }
  
  .Div8-h {
    display: flex;
    flex-direction: column;
  }
  
  .Div9-h, .Div10-h {
    font-family: AppleSDGothicNeoB00, sans-serif;
  }
  
  .Div10-h {
    border-radius: 12px;
    background-color: #d9d9d9;
    margin-top: 14px;
    height: 4px;
  }
  
  .carousel-container {
    max-width: 390px; /* 혹은 원하는 최대 너비 */
    overflow: hidden; /* 컨텐츠가 컨테이너 너비를 초과하는 경우 숨깁니다 */
    /*한페이지에 3개*/
    display: flex;
  }