body {
  background-color: #f0f0f0; /* 페이지의 나머지 배경색 */
}

.App-header {
  margin : 12px;
  display: flex;
  justify-content: flex-start; /* 내부 요소들을 왼쪽으로 정렬 */
  width: 100%;
}


.image-section {
  display: flex;
  justify-content: center; /* 내용을 중앙에 정렬 */
  width: 100%; /* 전체 너비를 사용 */
  margin-bottom : 40px;
}

.App-header img, .image-section img {
  max-width: 100%; /* 컨테이너 너비를 초과하지 않도록 함 */
  height: auto; /* 이미지의 원래 비율을 유지 */
}

.responsive-square {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 내용이 상단에서 시작하도록 조정 */
  align-items: center;
  background-color: #ffffff;
  color: #333;
  margin: auto;
  padding-top: 20px;
  width: 100%; /* 너비 설정 유지 */
  height: auto; /* 높이를 내용에 따라 자동으로 조정 */
  overflow-y: auto; /* 필요한 경우 내부 스크롤 허용 */
}

/* 화면 너비가 600px 이상일 때 */
@media (min-width: 600px) {
  .responsive-square {
    width: 390px; /* 너비는 유지 */
    min-height: 667px; /* 최소 높이 설정, 내용이 이보다 많으면 컨테이너 높이가 늘어남 */
  }
}

/* 화면 너비가 600px 미만일 때 */
@media (max-width: 599px) {
  .responsive-square {
    width: 100%; /* 전체 너비 */
    min-height: 100vh; /* 최소 높이를 화면 높이로 설정 */
  }
}

.App {
  width: 100%; /* 부모 컨테이너의 너비를 따름 */
  padding: 15px; /* 내부 여유 공간을 생성, 필요에 따라 조정 */
  box-sizing: border-box; /* 패딩이 너비에 포함되도록 설정 */
  font-family: AppleSDGothicNeoB;
}

.box, .scrolling-box {
  margin: 20px;
  padding: 20px;
  border: 1px solid #000;
  display: inline-block;
}

.box-container, .box-row {
  display: flex;
  justify-content: center;
}

.scrolling-box-container {
  display: flex;
  overflow-x: auto;
}

.custom-box {
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* 내부 요소 간의 간격 */
}

.custom-box img {
  max-width: 100%; /* 이미지가 컨테이너를 벗어나지 않도록 함 */
  height: auto; /* 이미지 비율을 유지 */
}

.custom-box button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.custom-box button:hover {
  background-color: #e0e0e0; /* 버튼 호버 효과 */
}


.timing-text {
  font-size: 26px;
  color: #1C1C1C; /* 예시로 파란색 지정 */
  font-family: AppleSDGothicNeoB;
}

.best-price-text {
  font-size: 26px;
  color: #FF77CA; /* 예시로 빨간색 지정 */
  font-family: AppleSDGothicNeoB;
}

.timer-box {
  width: 120px;
  height: 28px;
  padding: 1px 13px 2px 13px;
  border: 1px solid rgba(255, 64, 180, 1);
  border-radius: 100px;
  box-sizing: border-box;
}
.timer-number {
  font-family: AppleSDGothicNeoB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 64, 180, 1);
  font-size: 18px;
  line-height: 130%;
  font-family: AppleSDGothicNeoB00, sans-serif;
  font-weight: 400;
  text-align: center;
}


.timers{
  padding : 12px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.p-10px {
  padding: 10px;
}

.btn-height {
  height: 28px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left: 13px;
  padding-right: 13px;
}


.gray-section {
  background-color: #F5F5F5;
  /*부모의 padding을 무시함*/
  margin: 0;
  padding: 20px;
  width: 100%;
  margin-bottom: 38px;

}

.cate-text {
  font-family: AppleSDGothicNeoEB;
  font-size: 24px;
  color: #FF77CA; 
}

.cate-text-black{
  font-family: AppleSDGothicNeoEB;
  font-size: 24px;
  color: #1C1C1C; 
}

.input-box {
  width: 120px;
  height: 30px;
  border: 2px solid #FF77CA;
  border-radius: 80px;
  background-color: #FFFFFF;
  color: #FF77CA;
  padding: 3px 5px 5px 5px;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none; /* 텍스트 선택 방지 */
  font-size: 14px;
  font-family: AppleSDGothicNeoB;

}
.input-box.active {
  width: 120px;
  height: 30px;
  background-color: #FF77CA;
  color: #FFFFFF;
  border-color: #FF77CA;
}

.tags-container {
  width: 100%;
  display: flex;
  gap: 5px; /* 태그 사이의 간격 조정 */
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 14px;
}


.hot-text {
  font-family: AppleSDGothicNeoEB;
  font-size: 24px;
  margin-bottom: 20px; 
}

.top-two-products-container {
  display: flex;
  flex-direction: row; /* 항목들을 가로로 정렬 */
  justify-content: center; /* 중앙 정렬 */
  gap: 20px; /* 항목 사이의 간격 */
}
